<h2>{$lang.authors_of_lcms}</h2>
<p>
	<table>
		<tr class="thead">
			<td colspan="2"><b>{$lang.authors_of_lcms}</b></td>
		</tr>
		<tr>
			<td class="twidth"><b>Thelleo</b></td>
			<td>Project Manager, PHP programmer, Core programmer.</td>
		</tr>
		<tr>
			<td class="twidth"><b>Delsmos</b></td>
			<td>Comunnity Manager.</td>
		</tr>
	</table>
</p>
<p>
	<table>
        <tr class="thead">
            <td><b>{$lang.usedtechnologies}</b></td>
        </tr>
        <tr class="tnohover">
            <td>
                <a href="http://php.net">
                    <img src="{$images}php.png" alt="PHP">
                <a>
                &nbsp;
                <a href="http://mysql.com">
                    <img src="{$images}mysql.png" alt="MySQL">
                <a>
                &nbsp;
                <a href="http://smarty.net">
                    <img src="{$images}smarty.png" alt="Smarty">
                <a>
                &nbsp;
                <a href="http://jquery.com">
                    <img src="{$images}jquery.png" alt="jQuery">
                <a>
                &nbsp;
                <a href="http://nbbc.sourceforge.net/">
                    <img src="{$images}nbbc.png" alt="NBBC">
                <a>
            </td>
        </tr>
    </table>
</p>