			</div>
		</div>	
		<!--<div id="sidebar">
			<h3>Right sidebar</h3>
			<p>
				test
			</p>
		</div>-->
	</div>
	<div id="footer">
		Site powered by LiberumCMS &copy; LiberumTeam 2012<br><br>
		{$lang.generated} {$generated}ms &bull; {$lang.queries}: {$queries} &bull; {$lang.memory}: {$memory}
	</div>
	<script src="{$js}jquery-1.7.2.js"></script>
	<script src="{$js}editor/jquery.markitup.js"></script>
	<script src="{$js}editor/sets/default/set.js"></script>
	<script src="{$js}jquery.tipsy.js"></script>
	<script src="{$js}liberum.js"></script>
</body>
</html>